* {
    box-sizing: border-box;
    text-align: center;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    margin-bottom: 50px;
}

.container {
    height: 512px;
    width: 512px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 13px;
}

.colors {
    background-color: white;
    border: 1px solid black;
    height: 32px;
    width: 32px;
}

.color-changed {
    background-color: blue;
    border: 1px solid black;
    height: 32px;
    width: 32px;
}